body {
    background: rgba(212, 228, 239, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=1);
}

.login-box {
    box-shadow: 10px 10px 22px -5px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 380px;
    background: #ffffff;
}
